{% extends 'base.html.twig' %}

{% block title %}
    Containers
{% endblock %}

{% block body %}

    <section class="bg-coolGray-50 py-4">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap items-center justify-between -m-2 mb-4">
                <div class="w-full md:w-1/2 p-2">
                    <p class="font-semibold text-xl text-coolGray-800">All Iamges</p>
                    <p class="font-medium text-sm text-coolGray-500">{{ images|length }} Images found</p>
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <div class="relative md:max-w-max md:ml-auto">
                        <a href="{{ url('images_pull') }}" class="bg-white hover:bg-gray-100 text-white font-semibold">
                            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-6 border border-coolGray-100"></div>
            <div class="overflow-hidden border border-coolGray-100 rounded-md shadow-dashboard">
                <div class="overflow-x-auto">
                    <table class="w-full">
                        <tbody>
                        <tr class="whitespace-nowrap h-11 bg-coolGray-50 bg-opacity-80 border-b border-coolGray-100">
                            <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                                Tag
                            </th>
                            <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-left">
                                Image
                            </th>
                            <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-left">
                                ImageID
                            </th>
                            <th class="whitespace-nowrap font-semibold text-xs text-coolGray-500 uppercase text-center"></th>
                        </tr>

                        {% for image in images %}
                            <tr class="h-18 border-b border-coolGray-100">
                                <th class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                                    {% if image.RepoTags is not empty %}
                                        {% for tag in image.RepoTags %}
                                            {{ tag }},
                                        {% endfor %}
                                    {% else %}
                                        No Tags
                                    {% endif %}
                                </th>
                                <th class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-left">
                                    {% if image.Labels is not empty %}
                                        {% for label in image.Labels %}
                                            {{ label }},
                                        {% endfor %}
                                    {% else %}
                                        No Labels
                                    {% endif %}
                                </th>
                                <th class="whitespace-nowrap px-4 bg-white text-sm font-medium text-green-500 text-left">
                                    {{ image.Id }}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}